.sfdc-block1-container fieldset {
  border: 1px solid #ddd !important;
  margin: 0;
  min-width: 0;
  padding: 5px;
  position: relative;
  border-radius: 4px;
  background-color: #FFF;
  padding-left: 10px !important; }

.sfdc-block1-container legend {
  font-size: 14px !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  min-width: 5% !important;
  width: auto !important;
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  padding: 2px 10px 2px 10px !important;
  background-color: #ffffff !important; }

.flmbkp-bkpoptions-wrap button {
  font-size: 24px !important;
  margin: 50px 0 auto; }

.flmbkp-header-logo-txt {
  color: #fff;
  display: inline-block;
  font-family: tahoma;
  font-size: 20px;
  font-weight: bold;
  line-height: 177%;
  padding: 0 20px 0 0;
  vertical-align: baseline; }

.uiform-editing-header span {
  color: #fff; }

.uiform-editing-header .dropdown > div {
  padding: 5px; }

/* progress bar*/
#flmbkp_progress_graph {
  display: none; }

#flmbkp_processLog {
  display: none;
  height: 800px; }

/*database manager*/
.mdb-color.darken-3 {
  background-color: #1C2A48 !important; }

/*settings manager*/
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; }

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card {
  padding: 0px !important;
  width: 100% !important;
  max-width: 100%; }

/*header*/
.nav-item span, .nav-item select {
  clear: both;
  display: inline-block !important;
  width: auto !important; }

.sfdclauncher .navbar {
  padding: 0px !important; }

.navbar-brand {
  margin: 0px !important; }

.nav-item {
  width: auto;
  padding: 0 20px; }

/*elfinder*/
.elfinder-contextmenu-item .elfinder-button-icon-edit::before {
  content: ""; }

.elfinder-dialog-edit {
  min-width: 1000px !important;
  min-height: 550px !important; }

.elfinder-edit-editor {
  min-height: 500px !important; }

.elfinder-places .elfinder-navbar-root {
  display: none !important; }

/*backup section*/
.ui-dialog .ui-dialog-titlebar-close::before {
  content: "x";
  left: 2px;
  position: absolute;
  top: -7px; }

